
.banner {
    display: block;
    margin: 0 auto 40px auto;
    width: 75%;
    height: auto;
}

.info-text {
    display: block;
    margin: 0 auto 40px auto;
    width: 50%;
    text-align: center;
    font-size: 1.25em;
    color: #282728;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
}

.nowrap {
    white-space: nowrap;
}

.faq-banner {
    display: block;
    margin: 0 auto 30px auto;
}

.rotate {
    transform: rotate(25deg);
}

.star-icon {
    display: inline-block;
}

.faq {
    background-color: #e3e3e3;
    width: 1032px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-text {
    position: relative;
    left: 50px;
    font-size: 18px;
    flex-grow: 1;
}

.accordion {
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    color: #15223a;
    cursor: pointer;
    padding: 18px;
    border: 1px solid white;
    width: 1032px;
    height: 65px;
    text-align: left;
    transition: 0.2s;
    outline: none;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    background-color: #ffffff;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: #282728;

}

/* .active, .accordion:hover {
    color: white;
} */

.accordion:before {
    /* position: relative;
    bottom: 7px; */
    content: url(../images/new-star.png);
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 30px;
    display: inline-block;
    height: 35px;
    transition-duration: .25s;
    transform: rotate(0deg);
    transform-origin: center;
}

.active:before {
    content: url(../images/new-star.png);
    transition-duration: .55s;
    transform: rotate(45deg);
    transform-origin: center;
}

.signup {
    position: absolute;
    right: 10%;
}

.bottom-note {
    margin-top: 200px;
}

.nowrap {
   white-space: nowrap; 
}

.svg {
    width: 10%;
    height: auto;
}

.form-4473 {
    display: block;
    margin: 40px auto;
}

.link-grid {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    margin: 40px auto 0 auto;
}

.ammo{
    grid-column: 2/3;
    grid-row: 1/2;
}

.firearms {
    grid-column: 3/4;
    grid-row: 1/2;
}

.shooting-acc {
    grid-column: 4/5;
    grid-row: 1/2;
}

.target-shooting {
    grid-column: 5/6;
    grid-row: 1/2;
}

.reloading {
    grid-column: 2/3;
    grid-row: 2/3;
}

.optics {
    grid-column: 3/4;
    grid-row: 2/3;
}

.gun-storage {
    grid-column: 4/5;
    grid-row: 2/3;
}

.cleaning-maint {
    grid-column: 5/6;
    grid-row: 2/3;
}


@media only screen and (max-width: 1400px) {

    .top-header {
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {

    .banner {
        width: 90%;
    }

    .faq {
        width: 90%;
    }

    .accordion {
        width: 100%;
    }
}


@media only screen and (max-width: 1100px) {

    .link-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    .ammo{
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .firearms {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .shooting-acc {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .target-shooting {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .reloading {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .optics {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .gun-storage {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .cleaning-maint {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }

    .form-4473 {
        width: 80%;
        height: auto;
    }

    .button-text {
        left: 10px;
    }
}

@media only screen and (max-width: 768px) {

    .faq-banner {
        width: 85%;
        margin-bottom: 15px;
    }

    .info-text {
        width: 70%;
    }

    .button-text {
        font-size: 15px;
    }
}


@media only screen and (max-width: 500px) {
    
    .info-text {
        font-size: 3.75vw;
    }

    .accordion {
        font-size: .75em;
        max-height: 75px;
        vertical-align: middle;
    }

    .accordion:before {
        font-size: 1.2em;
        /* transform: scale(.6); */
        margin-bottom: 3px;
    }

    .button-text {
        left: 0px;
    }

    .form-4473 {
        width: 90%;
    }
}


@media only screen and (max-width: 470px) {

    .button-text {
        font-size: 3.25vw;
    }
}