
/* Modal Styling */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }



/* End Modal Styling */

.banner {
    display: block;
    margin: 0 auto 40px auto;
    width: 75%;
    height: auto;
}

.info-text {
    display: block;
    margin: 0 auto 40px auto;
    width: 50%;
    text-align: center;
    font-size: 1.25em;
    color: #282728;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nowrap {
    white-space: nowrap;
}

.faq-banner {
    display: block;
    margin: 0 auto 30px auto;
}

.rotate {
    transform: rotate(25deg);
}

.star-icon {
    display: inline-block;
}

.faq {
    background-color: #e3e3e3;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-text {
    position: inherit;
    left: 50px;
    font-size: 18px;
    flex-grow: 1;
}

.accordion {
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    color: #15223a;
    cursor: pointer;
    padding: 18px;
    border: 1px solid white;
    width: 100%;
    height: auto;
    text-align: left;
    transition: 0.2s;
    outline: none;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    background-color: #ffffff;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: #282728;

}

.active, .accordion:hover {
    color: white;
}

.accordion:before {
    /* position: relative;
    bottom: 7px; */
    content: url(../images/new-star.png);
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    font-size: 30px;
    display: inline-block;
    height: 35px;
    transition-duration: .25s;
    transform: rotate(0deg);
    transform-origin: center;
}

.active:before {
    content: url(../images/new-star.png);
    transition-duration: .55s;
    transform: rotate(45deg);
    transform-origin: center;
}

.signup {
    position: absolute;
    right: 10%;
}

.bottom-note {
    margin-top: 200px;
}

.nowrap {
   white-space: nowrap; 
}

.svg {
    width: 10%;
    height: auto;
}

.form-4473 {
    display: block;
    margin: 40px auto;
}

.link-grid {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    margin: 40px auto 0 auto;
}

.ammo{
    grid-column: 2/3;
    grid-row: 1/2;
}

.firearms {
    grid-column: 3/4;
    grid-row: 1/2;
}

.shooting-acc {
    grid-column: 4/5;
    grid-row: 1/2;
}

.target-shooting {
    grid-column: 5/6;
    grid-row: 1/2;
}

.reloading {
    grid-column: 2/3;
    grid-row: 2/3;
}

.optics {
    grid-column: 3/4;
    grid-row: 2/3;
}

.gun-storage {
    grid-column: 4/5;
    grid-row: 2/3;
}

.cleaning-maint {
    grid-column: 5/6;
    grid-row: 2/3;
}

/* 
@media only screen and (max-width: 1300px) {

    .banner {
        width: 90%;
    }

    .faq {
        width: 90%;
    }

    .accordion {
        width: 100%;
    }
}


@media only screen and (max-width: 1100px) {

    .link-grid {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    .ammo{
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .firearms {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .shooting-acc {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .target-shooting {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .reloading {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .optics {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .gun-storage {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }
    
    .cleaning-maint {
        grid-column: auto;
        grid-row: auto;
        justify-self: center;
    }

    .form-4473 {
        width: 80%;
        height: auto;
    }
}

*/

@media only screen and (max-width: 768px) {

    .faq-banner {
        width: 85%;
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 500px) {

    /* .accordion {
        font-size: .75em;
        max-height: 75px;
        vertical-align: middle;
    } */

    .form-4473 {
        width: 90%;
    }
}


@media only screen and (max-width: 470px) {

    .button-text {
        font-size: 3.25vw;
    }
} 